# Data Types and Structures

**Theoritical Questions**

1. What are data structures, and why are they important?
- Data Structure is a way of organing and storing data. So that data can be accessed and manipulated effectively. Data structures are the backbone of efficient programming. They decide how quickly and effectively you can solve a problem.

2.  Explain the difference between mutable and immutable data types with examples.
- Mutable Data Type - Objects whose values can be changed after creation. For example - List, Dictionary, Set.
- Immutable Data Types - Objects whose values can not be changed after creation. For example - String, Int, Float, Tuple etc.

3. What are the main differences between lists and tuples in Python?
- List is a mutable object but Tuple is a immutable object.
- Lists have many in built methods: append, remove, sort but Tuples have limited methods: index, count.
- Lists are generally slower than tuples.
- Tuples take less momory than lists with the same elements.
- Lists used for dynamic collection but tuples used for fixed collection.

4. Describe how dictionaries store data.
- Dictionary is a data structure that stores data as key-value pairs. Keys must be immutable and unique. Values can be any type. We can access value using key.

5. Why might you use a set instead of a list in Python?
- Set stores only unique elements and autometically removes duplicates.Sets support mathematical operations that lists do not have, like: Union(|), Intersection(&), Difference(-), Symmetric difference(^).Sets are faster in membership checking than lists. Use a set when you need unique items, fast lookups, or set operations.

6. What is a string in Python, and how is it different from a list?
- A String in Python is a sequence of characters enclosed in either in single quotes or double quotes.
- A list is an ordered collection of elements.
- String is immutable but list is mutable.
- strings are used to represent textual data and Lists are used for storing a collection of items.

7. How do tuples ensure data integrity in Python?
- A tuple is a collection of ordered, unchangeable, and heterogeneous data. Tuples ensure data integrity in Python because they are immutable, meaning their contents cannot be changed after creation. This property prevents accidental modification. This means that once a tuple is created, its elements cannot be changed, added, or removed.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores key-value pairs using a hash function. This allows for very fast data access, insertion, and deletion.
- In Python dictionaries uses a hash function to convert each key into a unique hash value.  This hash value is then used to find the  index where the value is stored.
- Dictionaries and Hash tables require unique keys. If we try to add a duplicate key to a dictionary, it will simply overwrite the old value this is a use of hash table in a dictionary.
-  Only immutable objects can be used as dictionary keys. This is because a key's hash value must remain constant throughout its lifetime.

9. Can lists contain different data types in Python?
 - Yes, lists can contain different data types in Python. A single Python list can hold integers, strings, floats, booleans, and even other lists or tuples.

10. Explain why strings are immutable in Python.
- Strings in Python are immutable because:
- They are used as dictionary keys and need a stable hash value.
- Interning and memory optimizations rely on immutability.
- It prevents accidental changes to text data.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer significant advantages over lists for tasks that involve associating data with unique identifiers and require fast lookups, insertions, and deletions.
- Lists store a collection of values based on a numerical index, dictionaries store data as key-value pairs .This structure allows you to organize data semantically, using descriptive keys to access its corresponding value.

12. Describe a scenario where using a tuple would be preferable over a list.
- A tuple would be preferable over a list in a scenario where you have a collection of items that should not be modified after they are created.
- Memory Efficiency - Tuples take less momory than lists with the same elements.
- A tuple would be preferable over a list where you need fast iteration.

13. How do sets handle duplicate values in Python?
- Sets in Python automatically handle duplicate values by only storing one instance of each unique element.
- When we create a set, any duplicates you try to add will be silently discarded, ensuring that every element in the set is unique.
- Sets are implemented using a hash table. This hash table ensures that each element's hash value is unique, preventing duplicates from being stored.

14. How does the “in” keyword work differently for lists and dictionaries?
- For lists, "in" checks for membership by performing a linear search. It iterates through each element of the list from the beginning until it finds a match or reaches the end.
- For dictionaries, "in" checks for the existence of a key, not a value. It leverages the dictionary's underlying hash table implementation. When we use "in" on a dictionary, Python calculates a hash value for the key we are searching for and uses it to jump directly to a potential location in memory.

15. Can you modify the elements of a tuple? Explain why or why not.
- No, we can't modify the elements of a tuple. Tuples are immutable, which means their content cannot be changed, added to, or removed after creation.
- The immutability of tuples is a core design feature of Python. When we create a tuple, the interpreter allocates a fixed amount of memory to store its elements. This memory block is then "locked," preventing any changes.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where the value for a key is another dictionary. This allows to create a hierarchical data structure to store information that has multiple levels.
- Example - Student records - where we can store name, roll no in main dictionary and marks in nested dictionary using subjects as key.
- student_records = {"name" : "Subhash" , "roll no" : 1234, "marks" : {"physics" : 80, "math" : 95, "chemistry" : 82}}

17. Describe the time complexity of accessing elements in a dictionary.
- In Python, dictionaries are implemented using hash tables, which makes element access very efficient.Accessing an element by its key takes O(1) time.
- While the average case is O(1), the worst-case time complexity is O(n), where 'n' is the number of elements in the dictionary. This can occur in a scenario called a hash collision. A hash collision happens when the hash function generates the same hash value for two different keys.

18. In what situations are lists preferred over dictionaries?
- Lists maintain the insertion order of elements by default. If we need to preserve sequence lists are better than dictionaries.
- If data is a simple collection of items without any unique identifiers or labels, a list is the most straightforward and memory-efficient data structure.
- Lists can store duplicate elements. Dictionaries require unique keys, so if duplicates matter lists are better.
-

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries in Python were considered unordered collections because dictionaries are implemented using hash tables, where the storage location of each key–value pair depends on the hash value of the key, not the order of insertion. This means we can’t access elements by index like in a list.
- In modern Python (after Python 3.7), dictionaries do preserve insertion order, but order has no role in retrieval speed.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- A list is an ordered collection of elements. Data retrieval is done by using a numeric index, which represents the element's position in the list, starting from 0. To find an element with a specific value, we have to iterate through the list from the beginning until you find it.
- A dictionary is an unordered collection of data stored as key-value pairs. Data retrieval is done by using a unique, immutable key to look up its associated value. When we want a value we use correspondence key of that value.

**Practical Questions**

In [ ]:
# 1. Write a code to create a string with your name and print it.
name = "Subhash"
print(name)

Subhash

In [ ]:
# 2. Write a code to find the length of the string "Hello World".
string = "Hello World"
length = len(string)
print(length)

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
string3 = "Python Programming"
first3 = string3[0:3]
print("First three characters : ", first3)

First three characters :  Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.
string4 = "hello"
in_uppercase = string4.upper()
print(in_uppercase)

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string5 = "I like apple"
s = string5.replace("apple","orange")
print(s)

I like orange

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
list6 = [i for i in range(1,6) ]
print(list6)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list7 = [1, 2, 3, 4]
list7.append(10)
print(list7)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list8 = [1, 2, 3, 4, 5]
list8.remove(3)
print(list8)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list9 = ['a', 'b', 'c', 'd']
second_element = list9[1]
print(second_element)

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list10 = [10, 20, 30, 40, 50]
res_list = []
for i in range(1, (len(list10)+1) ):
  res_list.append(list10[-i])
print(res_list)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup11 = (100, 200, 300)
print(tup11)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup13 = (10, 20, 5, 15)
mini = min(tup13)
print(mini)

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple14 = ('dog', 'cat', 'rabbit')
index_of_cat = tuple14.index("cat")
print(index_of_cat)

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("mango", "kiwi", "apple")
is_kiwi = ("kiwi" in fruits)
print(is_kiwi)

True

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set_a = {"a", "b", "c"}
print(set_a)

{'a', 'b', 'c'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set18 = {1, 2, 3, 4}
set18.remove(4)
print(set18)

{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
unified_set = (set1 | set2)
print(unified_set)

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = (set1 & set2)
print(intersection_set)

{2, 3}

In [1]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dictionary = {"name" : "Subhash", "age" : 20, "city" : "Jodhpur"}
print(dictionary)

{'name': 'Subhash', 'age': 20, 'city': 'Jodhpur'}

In [2]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dictionary1 = {'name': 'John', 'age': 25}
dictionary1["country"] = "USA"
print(dictionary1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [4]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dictionary2 = {'name': 'Alice', 'age': 30}
value_of_name = dictionary2["name"]
print(value_of_name)

Alice

In [5]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dictionary3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dictionary3["age"]
print(dictionary3)

{'name': 'Bob', 'city': 'New York'}

In [9]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dictionary4 = {'name': 'Alice', 'city': 'Paris'}
flag = False
for key in dictionary4.keys():
  if key == "city":
    flag = True
print(flag)

True

In [10]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
# Create a list
my_list = [1, 2, 'hello', 4.5]

# Create a tuple
my_tuple = (10, 'world', 20.5)

# Create a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Print all the data structures
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 'hello', 4.5]
Tuple: (10, 'world', 20.5)
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [12]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
numbers = [random.randint(1,100) for i in range(5)]
numbers.sort()
print(numbers)

[2, 27, 77, 81, 92]

In [14]:
# 28. Write a code to create a list with strings and print the element at the third index.
lis = ["subhash", "jay", "arun", "yash", "aadi", "mouse"]
third_indexed_element = lis[3]
print("The element at third index is :",third_indexed_element)

The element at third index is : yash

In [15]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name" : "subhash", "age" : 20, "city": "jodhpur"}
dict2 = {"state" : "Rajasthan", "country" : "India"}
dict1.update(dict2)
print(dict1)

{'name': 'subhash', 'age': 20, 'city': 'jodhpur', 'state': 'Rajasthan', 'country': 'India'}

In [21]:
# 30. Write a code to convert a list of strings into a set.
lis = [1, 2, "hello", 4, 4, True, True, False, 6, 7, 7, 0, 8]
l_set = set(lis)
print(l_set)
#True and False are considered as 1 and 0. So set will take either 0 or False and either 1 or True which one is given first.

{False, 1, 2, 4, 6, 7, 8, 'hello'}